html
  head
    title Package Dashboard
body
  form(method='GET' action='/packages')
    label Npm usernames (comma separated):
    input#users.form-control(type='text', name=users)
    button.btn.btn-primary(type='submit') Get packages